<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FLashCardDB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\afran\OneDrive\CNM\CNM Semester 5\C#\repos\FranklinP8\FlashCardDB.mdf;Integrated Security=True"/>		
	</connectionStrings>
</configuration>